<div class="container">
    <section class="users-container">
        <article class="user" *ngFor="let noticia of noticias.articles">
            <h3 class="text-decoration-none custom-secondary-font text-color-dark">{{noticia.title}}</h3>
            <div>
                <img src="{{ noticia.urlToImage }}" alt="avatar" class="img-fluid">
            </div>
            <p>{{noticia.description}}</p>
          
            <a href="{{ noticia.url }}"></a>
            <div>
               
            </div>
        </article>
    </section>
    </div>

    